#headerInputsContainer {
  display: flex;
  flex-direction: row;
}

.searchInputContainer {
  width: 30%;
  height: 100%;
}

.dropdownContainer {
  width: 15%;
  height: 100%;
}

.recordOperationsContainer {
  display: inline-flex;
  align-self: flex-end;
  justify-content: flex-end;
  width: 50%;
}

#inputAndDropdownContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 1rem
}

#inputAndDropdownContainer:first-child {
  margin: 0 1rem 0 0
}

#inputAndDropdownContainer > * {
  width: 100%;
}