#tableInfoContainer > td, th {
  border: none;
}

#recordOperationsContainer {
  text-align: right;
  vertical-align: bottom;
  padding: 0;
}

#recordOperationsContainer > * {
  text-align: end;
  text-decoration: none;
  margin: 0.5rem;
}

#recordOperationsContainer > *:last-child {
  background: var(--code);
  margin: 0.5rem 0 0.5rem 0.5rem;
}

#recordOperationsContainer > *:last-child:disabled {
  background: var(--text-light);
}

#employeeDataContainer {
  padding: 0.25rem 0;
}
