body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  grid-template-columns: 24px 1fr 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header > h4 {
  margin: 1vh 0vw;
}

table {
  display: table;
}

td, th {
  padding: 0.25rem 0.75rem;
}

#directoryImageCell {
  height: 52px;
  width: 52px;
}

#directoryImage {
  background-color: #d8dae1;
  height: 52px;
  width: 52px;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 50%;
}

tfoot > tr > td {
  border: none;
}

tfoot > * > * > button {
  padding: 0.5rem 0.75rem;
  color: black;
  background-color: white;
  border: 1px solid blue;
  margin: 4px;
}

tfoot > * > * > button:last-child {
  margin: 4px 0 4px 4px;
}

button[disabled] {
  background-color: #d8dae1;
}

button:focus {
  filter: none;
}

#tableButtonContainer {
  padding: 0.25rem 0;
  text-align: end;
}

#tableInfoContainer {
  margin: 0;
  border: none;
  padding: 0.25rem 0rem;
}

#tableInfoContainer > td, th {
  border: none;
}

#searchInputContainer {
  text-align: end;
  padding: 0.25rem 0;
}

#employeeDataContainer {
  padding: 0.25rem 0;
}

@media (max-width: 945px) {
  #directoryImage, #directoryImageCell, #directoryImageHeader {
    display: none;
  }
}
